<h2 class="align-center"> Who are we?</h2>
<div class="row" style="margin-right: 20px; margin-left: 20px;text-align: justify;">
    <div class="col-xs-12">
    <h4> We are a group of people who have designed this web in order to facilitate enthusiastic people sending their campaigns.
    After registering in our web app, you can create lists with contacts to send your campaigns. The contacts can be searched not only by their names, but also by labels that help you find the target of people for your campaign.

    Enjoy creating your campaign and getting to all the people you want!!!

    We hope our web app to be very useful!!!</h4>

    </div>
</div>
