<div class="campaigns">
    <div class="my-header">
        <h2 class="align-center margin-auto" > My Campaigns </h2>
        <h3 class="glyphicon glyphicon-plus new-icon" aria-hidden="true" ng-click="goToNewCampaign()"></h3>
    </div>
    <table class="table table-bordered">
      <tr>
          <th>Title</th>
          <th>Emails Opened</th>
          <th>Stadistics</th>
          <th>Options</th>
      </tr>
      <tr ng-repeat="campaign in campaigns">
        <td> {{campaign.title}} </td>
        <td> {{}} % </td>
        <td> <a ng-click="goToStatistics(campaign._id)">Show statistics</a> </td>
        <td>
            <span class="glyphicon glyphicon-edit  edit-icon"  ng-click="editCampaign(campaign._id)"></span>
            <span class="glyphicon glyphicon-remove  delete-icon" ng-click="deleteCampaign(campaign._id)"></span>
        </td>
      </tr>
    </table>
</div>
