<h2 class="align-center">My Campaigns<h2>
<table class="table table-bordered table-responsive">
  <tr>
      <th>Title</th>
      <th>Emails Opened</th>
      <th>Links Opened</th>
      <th>Stadistics</th>
      <th>Options</th>
  </tr>
  <tr ng-repeat="campaign in campaigns">
    <td> {{campaign.title}} </td>
    <td> {{(campaign.quantityOpened * 100) / campaign.participants | number:2}} % </td>
    <td> {{(campaign.quantityLinked * 100) / campaign.participants | number:2}} % </td>
    <td> <a href="#" ng-click="getStadistics()">Show Stadistics</a> </td>
    <td>
        <span class="glyphicon glyphicon-remove" ng-click="deleteCampaign(campaign.id)"></span>
    </td>
  </tr>
</table>
