<h2> Register </h2>

<h4> {{ error }} </h4>

<br>
<label> Username </label>
<br>
<input type="text" name="username" ng-model="user.username" required>

<br>
<label> Password </label>
<br>
<input type="password" name="password" ng-model="user.password" required>

<br>
<label> Confirm Password </label>
<br>
<input type="password" name="confirmPassword" ng-model="user.confirmPassword" required>

<br>
<label> Name </label>
<br>
<input type="text" name="name" ng-model="user.name" required>

<br>
<label> Last Name </label>
<br>
<input type="text" name="lasName" ng-model="user.lastName" required>

<br>
<label> Email </label>
<br>
<input type="email" name="email" ng-model="user.email" required>

<br>
<label> Phone </label>
<br>
<input type="tel" name="phone" ng-model="user.phone" required>

<br>
<button ng-click="register(user)"> Register </button>

<!--<button ng-click=""> Log in </button> -->